@import url('https://rsms.me/inter/inter.css');
@import "tailwindcss";

:root {
  --background: 220 3% 11%; /* #1b1b1b */
  --foreground: 210 40% 98%;
  --card: 0 0% 0%;
  --card-foreground: 210 40% 98%;
  --popover: 0 0% 0%;
  --popover-foreground: 210 40% 98%;
  --primary: 210 40% 98%;
  --primary-foreground: 0 0% 0%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96%;
    --accent-foreground: 222.2 84% 4.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  font-feature-settings: 'rlig' 1, 'calt' 1;
}

.database {
  offset-anchor: 0px 0px;
  animation: database-animation-path;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-duration: 4s;
  filter: blur(1px) brightness(2) drop-shadow(0 0 8px #06b6d4);
}

.db-light-1 {
  offset-path: path("M 39 45 v 20 q 0 5 5 5 h 59 q 5 0 5 5 v 15");
  animation-delay: 0s;
}

.db-light-2 {
  offset-path: path("M 99 45 v 15 q 0 5 5 5 h 13 q 5 0 5 5 v 15");
  animation-delay: 1s;
}

.db-light-3 {
  offset-path: path("M 159 45 v 15 q 0 5 -5 5 h -14 q -5 0 -5 5 v 15");
  animation-delay: 2s;
}

.db-light-4 {
  offset-path: path("M 219 45 v 20 q 0 5 -5 5 h -60 q -5 0 -5 5 v 15");
  animation-delay: 3s;
}

@keyframes database-animation-path {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}
